In [2]:
import pandas as pd
import numpy as np
import pickle

%matplotlib tk
# %matplotlib inline
import matplotlib.pyplot as plt

In [11]:
# read in data
sj = "001"
data_folder = "D:/OneDrive/Code/TimetraceSVV/Data/{0}/".format(sj)
f_name = "{0}sj{1}_data.pickle".format(data_folder, sj)
with open(f_name, "rb") as f:
    df = pickle.load(f)
    drift = pickle.load(f)
    line_ori = pickle.load(f)
    timestamp = pickle.load(f)

In [13]:
df.head(10)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>trial_nr</th>
      <th>current</th>
      <th>line_offset</th>
      <th>frame_ori</th>
      <th>gvs_start</th>
      <th>gvs_end</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>1.0</td>
      <td>-2</td>
      <td>NaN</td>
      <td>1.534500e+09</td>
      <td>1.534500e+09</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>2.0</td>
      <td>-3</td>
      <td>0.0</td>
      <td>1.534500e+09</td>
      <td>1.534500e+09</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>2.0</td>
      <td>-1</td>
      <td>NaN</td>
      <td>1.534500e+09</td>
      <td>1.534500e+09</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>2.0</td>
      <td>-5</td>
      <td>NaN</td>
      <td>1.534500e+09</td>
      <td>1.534500e+09</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>1.0</td>
      <td>-4</td>
      <td>NaN</td>
      <td>1.534500e+09</td>
      <td>1.534500e+09</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>2.0</td>
      <td>-4</td>
      <td>NaN</td>
      <td>1.534500e+09</td>
      <td>1.534500e+09</td>
    </tr>
    <tr>
      <th>6</th>
      <td>7</td>
      <td>2.0</td>
      <td>3</td>
      <td>0.0</td>
      <td>1.534500e+09</td>
      <td>1.534500e+09</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>1.0</td>
      <td>4</td>
      <td>NaN</td>
      <td>1.534500e+09</td>
      <td>1.534500e+09</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>1.0</td>
      <td>-1</td>
      <td>NaN</td>
      <td>1.534501e+09</td>
      <td>1.534501e+09</td>
    </tr>
    <tr>
      <th>9</th>
      <td>10</td>
      <td>-2.0</td>
      <td>4</td>
      <td>NaN</td>
      <td>1.534501e+09</td>
      <td>1.534501e+09</td>
    </tr>
  </tbody>
</table>
</div>

In [21]:
df.dtypes

trial_nr         int64
current        float64
line_offset      int64
frame_ori      float64
gvs_start      float64
gvs_end        float64
dtype: object

In [14]:
# get conditions
currents = sorted(df["current"].unique())
frames = sorted(df["frame_ori"].unique())
c = len(currents)
f = len(frames)

Plot data

In [52]:
# plot raw line orientation traces
gvs_on = 10.0 * 60
gvs_off = 27.0 * 60
x_gvs_area = [gvs_on, gvs_off]
y1_gvs_area = [-10, -10]
y2_gvs_area = [15, 15]

plt.figure()
count = 0
for curr in currents:
    count += 1
    plt.subplot(c, 1, count)
    plt.fill_between(x_gvs_area, y1_gvs_area, y2_gvs_area,
                     color="grey", linestyle="None", alpha=0.3)
    
    selection = line_ori[(df["current"] == curr) & np.isnan(df["frame_ori"]), :]
    for row in selection:
        samples = np.arange(0, len(row))
    
        plt.plot(samples, row)
    
    plt.plot(samples, np.zeros(len(samples)), color="black",
             linewidth=0.5)
    plt.title("{0} mA".format(curr))
    plt.ylabel("SVV (deg)")
    plt.xlabel("t (samples)")
    plt.ylim((-10, 15))
    plt.xlim((0, 42 * 60))
plt.tight_layout()

In [55]:
# plot mean line orientation over traces
plt.figure()
count = 0
for curr in currents:
    count += 1
    plt.subplot(c, 1, count)
    plt.fill_between(x_gvs_area, y1_gvs_area, y2_gvs_area,
                     color="grey", linestyle="None", alpha=0.3)
    
    selection = line_ori[(df["current"] == curr) & np.isnan(df["frame_ori"]), :]
    mean_ori = np.mean(selection, axis=0)
    samples = np.arange(0, len(mean_ori))
    plt.plot(samples, mean_ori)
    
    plt.plot(samples, np.zeros(len(samples)), color="black",
             linewidth=0.5)
    plt.title("{0} mA".format(curr))
    plt.ylabel("SVV (deg)")
    plt.xlabel("t (samples)")
    plt.ylim((-7, 7))
    plt.xlim((0, 42 * 60))
plt.tight_layout()